---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson Page</title>
</head>
<body>
    <h1>Mountain - Social</h1>
    
    <h2>Post Data</h2>
    {% for post in site.posts %}
        <p><strong>Post Title: </strong>{{post.title}}</p>
        <p>Post Date: {{post.date}}</p>
    {% endfor %}
    
    <h2>Page Data</h2>
    {% for page in site.pages %}
        {% if page.title %}
                <p><strong>Page Title: </strong>{{page.title}}</p>
                <p>Page Date: {{page.date}}</p>
        {% endif %}
    {% endfor %}
    
    <h2>Config Social Info & more</h2>
    <p><strong>Twitter Username: </strong>{{site.twitter_username}}</p>
    
    <strong>Also, latest post</strong>
    {% for post in site.posts limit:1 %}
        <p>{{post.title}}</p>
    {% endfor %}
   
   <strong>All other posts:</strong>
    {% for post in site.posts offset:1 %}
        <p>{{post.title}}</p>
    {% endfor %}
   
   <strong>Only one more:</strong>
    {% for post in site.posts offset:1 limit:1 %}
        <p>{{post.title}}</p>
    {% endfor %}
   
   <strong>Schema Posts:</strong>
    {% assign schemaPosts = site.posts | where: "schema", "First Wave" %}
    {% for post in schemaPosts %}
        <p>{{post.title}}</p>
        <strong>{{post.schema}}</strong>
        <p></p>     
    {% endfor %}
    
    <h2>Posts with Links</h2>
    {% for post in schemaPosts %}
        <p></p>
        <a href="{{post.url | relative_url}}">{{post.title}}</a>        
    {% endfor %}
    
    {% for file in site.static_files %}
      {{ file.path }} <br>
    {% endfor %}
    
</body>
</html>