{% assign campaign = site.data.campaigns[page.campaign] %}
<div class="c-art__frame2">
{% assign markets = campaign.markets %}
{% for markets in campaign.markets %}
{% assign market = site.data.markets[markets.ref] %}
<a href="{{ market.alink }}">{{ market.title }}</a> • {{ market.token }}<br>
{% endfor %}
{% assign nfts = campaign.nfts %}
{% for nfts in campaign.nfts %}
{% assign artwork = site.data.nfts[nfts.ref] %}
<div class="c-art__showbox">
<figure id="{{ artwork.title | truncate: 4, '''' }}" class="c-art__title2">
  {{ artwork.title }}
  <a href="{{ artwork.mlink }}">
  <img class="c-art__img" src="{{ artwork.ilink }}" alt="Link to {{ artwork.title }}"/>
  </a>
</figure>
</div>
<a href="#top"> .</a>
{% endfor%}
</div>