
            <ul class="feed-tools-list">
              <li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/feed-tools-icons.svg#rss' | relative_url }}"></use></svg><span>{{ site.rss | escape }}</span>site-feed</a></li>
              <li><a href="{{ '/' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/feed-tools-icons.svg#rss' | relative_url }}"></use></svg><span>{{ site.rss | escape }}</span>podcast-feed</a></li> 
              <li><a href="/404.html"><svg class="svg-icon"><use xlink:href="{{ '/assets/feed-tools-icons.svg#map' | relative_url }}"></use></svg><span>{{ site.rss | escape }}</span>sitemap</a></li> 
              <li><a href="/search#top"><svg class="svg-icon"><use xlink:href="{{ '/assets/feed-tools-icons.svg#mag' | relative_url }}"></use></svg><span>{{ site.rss | escape }}</span>search</a></li> 
            </ul>
