<footer class="site-footer h-card">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
                {%- if site.author -%}
                {{ site.author | escape }}
                {%- else -%}
                {{ site.title | escape }}
                {%- endif -%}
              </li>
              {%- if site.email -%}
              <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif -%}
              {%- if site.copyright -%}
              <li>
                &#169; {{ site.copyright }} {{ 'now' | date: "%Y" }}
              </li>
              {%- endif -%}
            </ul>
      </div>
      <div class="footer-col footer-col-2">{%- include feed-tools.html -%}</div>
      <div class="footer-col footer-col-3">{{- site.description | escape -}}</div>
    </div>
  </div>
</footer>