<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "url": "{{ prepend: site.baseurl | prepend: site.url }}",
        "headline": "{{ site.title }}",
        "about": "{{ site.description }}",
        "image": [
            "https://gibberish.cyou/gibberish-umbra-512-icon.png"
        ],
        "isAccessibleForFree": "True",
        "isPartOf": {
            "@type": ["CreativeWork", "Product"],
            "name": "Learn to Speak the Secret Gibberish Language Game",
            "productID": "gibberish.cyou"
        },
        "discussionUrl": "https://twitter.com/search?f=tweets&vertical=default&q=to%3AGibberishUmbra&l=en&src=typd",
        "author": {
            "@type": "Person",
            "name": "Gibberish Umbra",
            "description": "Gibberish Umbra is an alter ego in search of expressing experimental media as art.",
            "sameAs": "https://twitter.com/GibberishUmbra",
            "image": {
                "@type": "ImageObject",
                "url": "https://gibberish.cyou/gibberish-umbra-512-icon.png"
            },
            "givenName": "Umbra",
            "familyName": "Gibberish",
            "alternateName": "gibberish.umbra",
            "publishingPrinciples": "https://gibberish.cyou/about"
        },
        "editor": {
            "@type": "Person",
            "name": "Gibberish Umbra",
            "description": "Gibberish Umbra is an alter ego in search of expressing experimental media as art.",
            "sameAs": "https://twitter.com/GibberishUmbra",
            "image": {
                "@type": "ImageObject",
                "url": "https://gibberish.cyou/gibberish-umbra-512-icon.png"
            },
            "givenName": "Umbra",
            "familyName": "Gibberish",
            "alternateName": "gibberish.umbra",
            "publishingPrinciples": "https://gibberish.cyou/about"
        },
        "inLanguage": "en-US",
        "license": "https://creativecommons.org/licenses/by-nc-nd/4.0/",
        "additionalType": "CreativeWork",
        "alternateName": "Secret Gibberish Language Game",
        "publisher": {
            "@type": "Organization",
            "name": "Gibberish Umbra",
            "description": "Experimental Media Collection by Gibberish Umbra.",
            "sameAs": "https://gibberish.cyou",
            "logo": {
                "@type": "ImageObject",
                "url": "https://gibberish.cyou/gibberish-umbra-512-icon.png"
            },
            "publishingPrinciples": "https://gibberish.cyou/about"
        }
    }
</script>