<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Gibberish Umbra",
        "description": "{{ page.excerpt }}",
        "disambiguatingDescription": "An experimental media content creator.",
        "image": "https://gibberish.cyou/gibberish-umbra-512-icon.png",
        "givenName": "Umbra",
        "familyName": "Gibberish",
        "alternateName": "gibberish.umbra",
        "publishingPrinciples": "https://gibberish.cyou/about"
    }
</script>