        
            <ul class="social-media-list">
              <li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>{{ site.rss | escape }}</span>site-feed</a></li>
              <li><a href="{{ '' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>{{ site.rss | escape }}</span>podcast-feed</a></li> 
            </ul>
          