<div alt="">
{%- include_relative /assets/umbra-social-icons.svg -%}
</div>
  <div class="umbra-media-list">
    {%- if site.youtube_username -%}       <div><a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}">             <svg class="yt-icon">   <use href="#youtube"/>     </svg></a></div>{%- endif -%}
    {%- if site.apple_username -%}         <div><a href="">                                                                                 <svg class="ap-icon">   <use href="#apple"/>       </svg></a></div>{%- endif -%}
    {%- if site.instagram_username -%}     <div><a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}">         <svg class="ig-icon">   <use href="#instagram"/>   </svg></a></div>{%- endif -%}
    {%- if site.facebook_username -%}      <div><a href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}">       <svg class="fb-icon">   <use href="#facebook"/>    </svg></a></div>{%- endif -%}
    {%- if site.twitter_username -%}       <div><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">         <svg class="tw-icon">   <use href="#twitter"/>     </svg></a></div>{%- endif -%}
    {%- if site.linkedin_username -%}      <div><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">    <svg class="in-icon">   <use href="#linkedin"/>    </svg></a></div>{%- endif -%}
    {%- if site.snapchat_username -%}      <div><a href="https://www.snapchat.com/add/{{ site.snapchat_username| cgi_escape | escape }}">   <svg class="sn-icon">   <use href="#snapchat"/>    </svg></a></div>{%- endif -%}
    {%- if site.data.brand.magnifier -%}   <div><a href="/search">                                                                          <svg class="mag-icon">  <use href="#magnifier"/>   </svg></a></div>{%- endif -%}
    {%- if site.data.brand.sitemap -%}     <div><a href="/404.html">                                                                        <svg class="map-icon">  <use href="#map"/>         </svg></a></div>{%- endif -%}
    {%- if site.rss -%}                    <div><a href="{{ 'feed.xml' | relative_url }}">                                                  <svg class="rss-icon">  <use href="#rss"/>         </svg></a></div>{%- endif -%}
  </div>

