@charset "utf-8";
$base-font-family: "Lora", sans-serif;
$base-font-size:   13px;
$base-font-weight: 100;
$small-font-size:  $base-font-size * 0.8 !default;
$base-line-height: 1.2 !default;

$spacing-unit:     30px !default;

$text-color:       #808080 !default; //summary
$background-color: #111 !default; //
$brand-color:      #ddd !default; //links

$grey-color:       #444 !default; //date
$grey-color-light: #111 !default;
$grey-color-dark:  #666 !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout"
  //"minima/syntax-highlighting"
;
