@charset "utf-8";
// @import url('https://fonts.googleapis.com/css?family=Lora&display=auto');

// Define defaults for each variable.
$base-font-family: "Lora", italic, sans-serif;
$base-font-size:   12px !default;
$base-font-weight: 100 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #FFFF00 !default;
$background-color: #252525 !default;
$brand-color:      #0055FF !default;

$grey-color:       #FF0000 !default;
$grey-color-light: #252525 !default;
$grey-color-dark:  #80FF00 !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
