/**
 * default theme; Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * default theme; Basic styling
 */
body {
  font: $base-font-weight $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * default theme; Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * default theme; `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: #505050;
  }

  &:hover {
    color: #FFF;
  }

  .feed-tools-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
  .umbra-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.25);
  letter-spacing: .1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #000;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.svg-icon-page {
  width: 192px;
  height: 192px;
  display: inline-block;
  fill: #80FF00;
  padding-right: 5px;
  padding-bottom: 5px;
  vertical-align: text-top;
}

.umbra-media-list {
  display: grid;
  flex: auto;
  grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
  grid-auto-rows: minmax(96px, auto);
  grid-gap: 6px;
}


.umbra-vector-blob {
  height: 72px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  float: center;
  svg {
    width: 80%;
  }
}

.umbra-gif-blob {
  height: 72px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  float: center;
}


.c-art__showbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 13vh;
}

.c-art__frame {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.c-art__frame2 {
  flex: 0 1 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.c-art__img {
  display: block;
  box-shadow: inset 5px 5px 16px 5px #000;
  border: 3px solid #505050;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 11%;
  background: hsl(0, 0%, 20%);
}

.c-art__about {
  text-justify: left;
}

.c-art__title {
  text-align: center;
  flex: 0 1 auto;
  position:relative;
  left: 50%;
  transform: translateX(-50%);
}

.c-art__title2 {
  flex: 0 1 auto;
  position: relative;
  text-align: -webkit-center;
}



.yt-icon {
  vertical-align: text-bottom;
  fill: #F00;
}

.yt-icon:hover {
  fill: #80FF00;
}

.ap-icon {
  vertical-align: text-bottom;
  fill: #8000FF;
}

.ap-icon:hover {
  fill: #80FF00;
}

.ig-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #F0F;
}

.ig-icon:hover {
  fill: #80FF00;
}

.mb-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #bb1919;
}

.mb-icon:hover {
  fill: #FFF;
}

.vs-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #ffffff;
}

.vs-icon:hover {
  fill: #c5c5c5;
}

.hn-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #ffffff;
}

.hn-icon:hover {
  fill: #c5c5c5;
}

.ob-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #ffffff;
}

.ob-icon:hover {
  fill: #c5c5c5;
}

.fb-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #05F;
}

.fb-icon:hover {
  fill: #80FF00;
}

.rss-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #FF8000;
}

.rss-icon:hover {
  fill: #80FF00;
}

.tw-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #0FF;
}

.tw-icon:hover {
  fill: #80FF00;
}

.sn-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #FFFF00;
}

.sn-icon:hover {
  fill: #80FF00;
}

.tk-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #FFFF00;
}

.tk-icon:hover {
  fill: #80FF00;
}

.sp-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #80FF00;
}

.sp-icon:hover {
  fill: #8000FF;
}

.mag-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #555555;
}

.mag-icon:hover {
  fill: #80FF00;
}

.map-icon {
  display: inline;
  vertical-align: text-bottom;
  fill: #558055;
}

.map-icon:hover {
  fill: #80FF00;
}

.feed-tools-list {
  li + li {
    padding-top: 5px;
  }
}

/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
