---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h1 class="post-list-heading">{{ page.list_title | default: "Gibberish Umbra, behind the scenes" }}</h1>
      <p>A great number of things in this world change quickly. I forgot how many times that I’ve learned something I thought would be relevant for years only to have it be obsolete in months instead. Gibberish is not one of these things! Upon starting this project I thought I’d find a definitive origin story of the Gibberish Language Game. Nope. It seems to be such a mystery that I myself have decided to simply add to the secret flow of hidden
        <p>
        sdsds A great number of things in this world change quickly. I forgot how many times that I’ve learned something I thought would be relevant for years only to have it be obsolete in months instead. Gibberish is not one of these things! Upon starting this project I thought I’d find a definitive origin story of the Gibberish Language Game. Nope. It seems to be such a mystery that I myself have decided to simply add to the secret flow of hidden
        </p>
        A great number of things in this world change quickly. I forgot how many times that I’ve learned something I thought would be relevant for years only to have it be obsolete in months instead. Gibberish is not one of these things! Upon starting this project I thought I’d find a definitive origin story of the Gibberish Language Game. Nope. It seems to be such a mystery that I myself have decided to simply add to the secret flow of hidden
        <br>
        A great number of things in this world change quickly. I forgot how many times that I’ve learned something I thought would be relevant for years only to have it be obsolete in months instead. Gibberish is not one of these things! Upon starting this project I thought I’d find a definitive origin story of the Gibberish Language Game. Nope. It seems to be such a mystery that I myself have decided to simply add to the secret flow of hidden</p>
      <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    


    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
