---
layout: default
---
<p><h1>Gibberish Language Game</h1></p>
All things experimental & creative, expressed through a secret language. You're envited.
<br><br>
{%- for post in site.posts limit:5 -%}
  <br>
  <article>
    <span class="post-meta">{{ post.date | date: site.minima.date_format }} &#8226; {{ post.date | date: "%e %b %Y" }}</span> {{ post.summary }}
    <h2 class="post-list-heading"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
    {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
  </article>
{%- endfor -%}<br><br>